script(src="https://js.stripe.com/v2/")


script(src='js/lib/underscore/1.5.2/underscore-min.js')
script(src='js/lib/jquery/2.0.3/jquery.min.js')
script(src='js/lib/jquery/plugins/jquery.ba-outside-events.min.js')
script(src="http://malsup.github.com/jquery.form.js") 
script(src='js/lib/nouislider/5.0.0/minified/jquery.nouislider.min.js')
script(src='https://www.dropbox.com/static/api/2/dropins.js', id="dropboxjs", data-app-key="em4c3z3iwh1g4fd")

script(src='js/lib/angular/1.2.16/angular.min.js')
script(src='js/lib/angular/1.2.16/angular-animate.min.js')
script(src='js/lib/angular/1.2.16/angular-cookies.min.js')
script(src='js/lib/angular/1.2.16/angular-route.min.js')
script(src='js/lib/angular/1.2.16/angular-sanitize.min.js')

script(src='js/lib/angulartics-google-analytics/angulartics.min.js')
script(src='js/lib/angulartics-google-analytics/angulartics-google-analytics.min.js')

script(src='js/lib/ui-bootstrap/ui-bootstrap-tpls-0.12.0.min.js')

script(src='js/lib/angular-ui-router/0.0.2/angular-ui-router.min.js')
script(src='lib/bootstrap/3.0.2/js/bootstrap.min.js')
script(src='js/lib/card.js')
script(src='js/lib/moment.js')
script(src='js/lib/angular-moment.js')

script(src='js/app/app.js')

// -csv ---Yakov
script(src="js/lib/ngcsv/ng-csv.min.js")
// -xml ---Yakov
script(src="js/lib/json2xml/json2xml.js")

//- services
script(src='js/app/services/main.js')
script(src='js/app/services/user.js')
script(src='js/app/services/project.js')
script(src='js/app/services/node.js')
script(src='js/app/services/comment.js')
script(src='js/app/services/payment.js')
script(src='js/app/services/board.js')
script(src='js/app/services/export.js')
script(src='js/app/services/scheme.js')
script(src='js/app/services/alert.js')
script(src='js/app/services/picker.js')
script(src='js/app/services/time.js')

//- controllers
script(src='js/app/controllers/main.js')
script(src='js/app/controllers/user.js')
script(src='js/app/controllers/payment.js')
script(src='js/app/controllers/scheme.js')    
script(src='js/app/filters.js')
script(src='js/app/directives.js')

//---- project controllers
script(src='js/app/controllers/project/create.js')
script(src='js/app/controllers/project/show.js')
script(src='js/app/controllers/project/risk.js')
script(src='js/app/controllers/project/invite.js')
script(src='js/app/controllers/project/import.js')
script(src='js/app/controllers/project/list.js')
script(src='js/app/controllers/project/manage.js')
script(src='js/app/controllers/project/gantt.js')
script(src='js/app/controllers/project/agile.js')

//----- Kendo 
script(src='js/lib/kendo/kendo.all.min.js')


script(src='js/app/filters.js')
script(src='js/app/directives.js')

script(src='js/lib/d3.v3.js')

// Bootstrap Tour
script(src='lib/bootstrap-tour/bootstrap-tour.js')
script(src='lib/bootstrap-tour/planhammer-tour.js')    
script(type="text/javascript").
  var tour;
  $(document).ready(function() { tour.init(); });
  function StartTour() { tour.restart(); };
