link(href='http://fonts.googleapis.com/css?family=Lato:300,400|Roboto+Condensed', rel='stylesheet')
link(rel='stylesheet', href='/lib/bootstrap/3.3.0/css/bootstrap.min.css')
link(rel='stylesheet', href='lib/bootstrap-tour/bootstrap-tour.min.css')
link(rel='stylesheet', href='/css/common.css')
link(rel='stylesheet', href='/css/card.css')
link(rel='stylesheet', href='/css/app.css')
link(rel='stylesheet', href='/css/svg.css')
link(rel="stylesheet", href="/css/kendo/kendo.common.min.css" )
link(rel="stylesheet", href="/css/kendo/kendo.metro.min.css" )
link(rel="stylesheet", href="/css/agile.css" )
link(rel='stylesheet', href='js/lib/nouislider/5.0.0/minified/jquery.nouislider.min.css')
link( href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet" )