xhtml
    head
        meta(charset='utf8')
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    body
        h1 Hey
        p looks like you signed up for a free trial with us but didn't get a chance to create a project. You can create a new project by clicking <a href="http://#{domain}/#/project/create">here</a>, take an interactive tour <a href="http://#{domain}/#/projects/created">here</a>, or ask for some help <a href="http://#{domain}/#/feedback">here</a>.
