xhtml
    head
        meta(charset='utf8')
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    body
        h1 Project Import
        p looks like #{owner_email} asked to help import a project.
        p Please download project file <a href="http://#{domain}/#/uploads/#{file_name}">here</a>