xhtml
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  body
    h1 Hey
    p looks like #{owner_email} asked you to help plan a project with us but you didn't get a chance to create a task. You can create a new task by clicking <a href="http://#{domain}/#/project/#{project_id}/show">here</a>, or ask for some help <a href="http://#{domain}/#/">here</a>.

