div.text-center 
  div(id="logo")
  h1(id="form-title") Reset Password
br

div(class="form-center")
  form(class="user-form form-horizontal padder", role="form", name="resetForm")
    div(class="form-group", ng-show="message")
      div(class="alert alert-{{ message.type }}") {{ message.text }}   <br/>

    div.form-group
      div
        input.form-control(type="email", required, ng-model="email", placeholder="Your Email")
    div.form-group.signup-buttons
      button(type="submit", class="btn btn-info", ng-click="reset(email)", ng-disabled="userForm.$resetForm") Send Link
